body {
    font-family: fantasy;
    color: teal;
    margin: 0;
    background-color: rgb(193, 195, 197);
}

header {
 background-color: black;
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
 margin:0;
 padding-left: 20px;
 background-position: 80%;
 
}

header h1 {
    font-weight: bold;
    font-size: 32px;
    color: teal;
}

header a {
    text-decoration: none;
    color: teal;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

header nav {
    margin: 7px 0
}

header nav ul li a {
    padding: 10px 15px;
    font-size: 22px;
    border-bottom: 2px solid teal;
    border-bottom-style: dotted;
    margin-right: 20px;
} 
/*Header Ends*/

/*Hero Section*/
.hero {
 background-image: url(./images/milkyway.jpg);
 background-size: cover;
 display: flex;
 justify-content: flex-end;
 flex-wrap: wrap;
 background-attachment: fixed;
 flex-direction: column;
 height: 600px;
 opacity: .9;
 z-index: 9999;
}

.hero-2 h2 {
    font-size: 36px;
    padding: 0 20px 0 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: right;
    color: blanchedalmond;
}

.hero-2 span {
    color: rgb(21, 133, 133);
}

/*Hero Section Ends*/

/*About Me*/

.about-me-1 {
    margin: 20px;
    padding: 15px;
}


.personal {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.personal p {
    margin: 10px;
    text-align: left;
    padding: 25px;
    border-left: 2px solid teal;
    
}

.personal h3 {
text-align: right;
font-size: 40px;
margin: 0;
padding-right: 5px;
}

/*About Me Section Ends*/

/* Work Section*/

.work-grid-container {
  display: grid;
  width: 75%;
  grid-template-columns: 1fr repeat(5, 4fr);
  grid-template-rows: repeat(2, 1fr) 1fr;
  grid-gap: 10px;
  margin-bottom: 40px;
}

.work-grid-wrapper {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.project-head {
    font-size: 40px;
    text-align: left;
    border-right: 2px solid teal;
    padding-right: 15px;
    margin: 0;
}

.project-1 {
 font-size: 1.7rem;
 writing-mode: vertical-lr;
 transform: rotate(180deg);
}

.project {
   border: 2px solid teal;
   border-radius: 10px;
   text-align: left;
   font-size: 20px;
   flex-direction: column;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.project h5 {
   font-size: 1.2rem;
   padding-top: 60px;
   
}

.project h6 {
    font-size: 1rem;
}



.project h5, h6 {
    margin: 0;
    color: rgb(80, 167, 167);
    text-align: center;

}

.work-grid-container a, div, h5, h6 {
    text-decoration: none;
}

.project.run-buddy {
    grid-column: 2 / span 6 ;
    background-image: url(./images/runbud.jpg.png);
    background-position: top;
    background-size: cover;
}

.project.exmp-2 {
    grid-column: 2 / span 4;
    background-image: url(./images/adventure.jpg);
    background-position: center;
    background-size: cover;
}

.project.exmp-3 {
    grid-column: 2 / span 3;
    background-image: url(./images/puzzle.jpg);
    background-position: center;
    background-size: cover;
}

.project-1 {
    grid-row: 1;
}

.project.exmp-4 {
    background-image: url(./images/universe.jpg);
    background-position: center;
    background-size: cover;
}

.project.exmp-5 {
    grid-column: 6 / span 2;
    grid-row: 2 /span 2;
    background-image: url(./images/cave.jpg);
    background-position: center;
    background-size: cover;
}

/*Footer Begins*/

.contact-info {
    height: 300;
    margin: 10px;
    padding: 10px
}

.contact {
    display: flex;
    justify-content: stretch;
    flex-wrap: wrap;
    flex-direction: initial;
}


.contact h3 {
  font-size: 40px;
  margin: 10px;
  text-align: right;
  border-right: 2px solid teal;
  padding: 10px;
}

.contact div a {
    font-size: 1.5rem;
    color: teal;
    margin-right: 25px;
    padding-right: 75px;
    padding-left: 15px;
}

.information {
    text-align: center;
    margin-top: 50px;
}

/* Media Query for smaller desktop screens and smaller*/

@media screen and (max-width:980px) {
    header {
     position: relative;
     justify-content: center;
     padding: 0;
   }

   .work.work-grid-wrapper {
       grid-template-columns: 2fr 2fr;
   }

   .contact-info {
       justify-content: space-between;
       padding: 0;
   }

   .contact div a {
       justify-content: center;
       padding: 0;
       text-align: right;
   }
}



/* Media Query for tablets and smaller*/

@media screen and (max-width: 768px) {
    .work.work-grid-wrapper {
        grid-template-columns: 2fr 2fr;
    }

    .contact-info {
        justify-content: space-between;
        padding: 0;
    }
 
    .contact div a {
        justify-content: center;
        padding: 0;
        text-align: right;
        font-size: 20px;
    }

    .contact h3{
        justify-content: center;
        text-align: center;
        font-size: 20px;
    }
    
}


/* Media Query for mobile phones and smaller*/

@media screen and (max-width: 575px) {
    .work.work-grid-wrapper {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 2fr;
    }

    .contact-info {
        padding: 0;
        margin: 50px;
    }
 
    .contact h3{
        justify-content: center;
        text-align: center;
        font-size: 20px;
        border-right: unset;
        border-bottom: 2px solid teal;
    }
    .contact div a {
        justify-content: center;
        padding: 0;
        text-align: right;
        font-size: 15px;
    }

    .information {
        text-align: right;
    }
}

/*Pseudo Class*/



a:hover {
    opacity: .8;
  }
  











