body {
    font-family: fantasy;
    color: teal;
    margin: 0;
    background-color: rgb(193, 195, 197);
}

header {
 background-color: black;
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
 margin:0;
 padding-left: 20px;
 background-position: 80%;
 
}

header h1 {
    font-weight: bold;
    font-size: 32px;
    color: teal;
}

header a {
    text-decoration: none;
    color: teal;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

header nav {
    margin: 7px 0
}

header nav ul li a {
    padding: 10px 15px;
    font-size: 22px;
    border-bottom: 2px solid teal;
    border-bottom-style: dotted;
    margin-right: 20px;
} 
/*Header Ends*/

/*Hero Section*/
.hero {
 background-image: url(./images/milkyway.jpg);
 background-size: cover;
 display: flex;
 justify-content: flex-end;
 flex-wrap: wrap;
 background-attachment: fixed;
 flex-direction: column;
 height: 600px;
 opacity: .9;
 z-index: 9999;
}

.hero-2 h2 {
    font-size: 36px;
    padding: 0 20px 0 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: right;
    color: blanchedalmond;
}

.hero-2 span {
    color: rgb(21, 133, 133);
}

/*Hero Section Ends*/

/*About Me*/

.about-me-1 {
    height: 400px;
    margin: 20px;
    padding: 15px;
}


.personal {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.personal p {
    margin: 10px;
    text-align: left;
    padding: 25px;
    border-left: 2px solid teal;
    
}

.personal h3 {
text-align: center;
font-size: 40px;
margin: 0;
padding-right: 10px;
}

/*About Me Section Ends*/






/*Footer Begins*/

.contact-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 300px;
}

.contact-info h3 {
  

}




